.joystick {
  width: 140px;
  height: 140px;

  border-radius: 50%;

  background: #081423;
  border: 2px solid #1d3c5c;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05);
}

.stick {
  width: 60px;
  height: 60px;

  border-radius: 50%;

  background: #35567f;

  border: 2px solid #4b78ad;

  transition: all 0.3s ease;
}

.joystick:hover .stick {
  transform: scale(1.05);
}